/*--------------------
Variables & Basic Styles
--------------------*/
:root {
  /* Dark Mode Colors */
  --dark-mode-black: rgba(0, 0, 0, 1);
  --dark-mode-blue: rgba(25, 25, 112, 1);
  --dark-mode-purple: rgba(72, 61, 139, 1);
  --dark-mode-gray: rgba(47, 79, 79, 1);

  /* Additional Dark Mode Colors */
  --dark-mode-green: rgba(109, 235, 97, 0.812);
  --dark-mode-teal: rgba(0, 128, 128, 1);
  --dark-mode-yellow: rgba(255, 215, 0, 1);
  --dark-mode-white: rgb(245, 245, 245);
  --dark-mode-element-background: hsl(0, 0%, 15%);
}

* {
  padding: 0;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-mode-black);
  color: var(--dark-mode-white);
}

/*--------------------
Global Styles
--------------------*/
a {
  text-decoration: none;
  color: var(--dark-mode-white);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

/*--------------------
Header Styles
--------------------*/
header {
  display: flex;
  flex-direction: column;
}

header .container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 120px;
}

header .container .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 55%;
}

header .container img {
  width: 71px;
  height: 100px;
}

header .container .colledgeName {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

header .container ul {
  display: flex;
  justify-content: space-around;
  align-items: end;
  color: var(--dark-mode-white);
  width: 45%;
}

/*--------------------
Information Styles
--------------------*/
.information {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.information .left {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-mode-element-background);
  flex-grow: 1;
}

.information .left figure {
  border: 2px solid var(--dark-mode-element-background);
  text-align: center;
  padding: 1rem;
  flex-basis: 100%;
}

.information .right {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex-grow: 2;
}

.information .right .heading {
  border: 2px solid var(--dark-mode-element-background);
  padding: 4px;
  padding-left: 1.5rem;
  background-color: var(--dark-mode-element-background);
  font-size: 1.3rem;
  margin-top: 2px;
}

.information .right ul {
  padding: 1rem;
}

.information .right ul li {
  margin-bottom: 10px;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--dark-mode-element-background);
}

/*--------------------
Labels Styles
--------------------*/
.label {
  display: inline-block;
  border: 1px solid var(--dark-mode-white);
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 15px;
  color: var(--dark-mode-white);
}

.label-primary {
  background-color: var(--dark-mode-green);
  color: var(--dark-mode-white);
}

.label-warning {
  background-color: #ff0000dc;
}

/*--------------------
Movable Styles
--------------------*/
.movable ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 15px;
}

.movable ul a {
  text-decoration: none;
  color: var(--dark-mode-white);
}

.movable ul li {
  display: flex;
  gap: 0.4rem;
}

/*--------------------
Enquiry Styles
--------------------*/
.enquiry {
  background-color: var(--dark-mode-element-background);
  padding: 1rem 5rem;
}

/*--------------------
Read More Styles
--------------------*/
.read-more {
  position: relative;
  bottom: 0;
  left: 90%;
  text-decoration: none;
  color: hsla(240, 100%, 50%, 0.7);
}

.read-more:hover {
  text-decoration: underline;
}

/*--------------------
Bold Styles
--------------------*/
.bold {
  font-weight: bolder;
}

/*--------------------
Img Styles
--------------------*/
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1em;
}

/*--------------------
Aside Styles
--------------------*/
.aside {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  padding: 10px;
  background-color: var(--dark-mode-element-background);
}

.aside-left {
  display: flex;
  width: 70%;
  justify-content: space-evenly;
  align-items: center;
}

.aside-left div {
  margin: 0;
  line-height: 1.5;
}

.aside-right {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  justify-content: space-evenly;
}

/*--------------------
Footer Styles
--------------------*/
footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: var(--dark-mode-element-background);
  gap: 10px;
}

footer div {
  display: flex;
  justify-content: space-around;
}

.small {
  text-align: center;
  font-size: 0.7rem;
}

/*--------------------
Responsive Styles
--------------------*/
@media only screen and (max-width: 1200px) {
  header .container ul li {
    border: none;
  }
}

@media only screen and (max-width: 1070px) {
  header .container .logo {
    flex-direction: column;
    width: auto;
    justify-content: left;
    text-align: left;
    font-size: 80%;
  }
  header .container {
    height: 163px;
  }
  header ul {
    width: auto;
    font-size: 80%;
  }
  .information .left figure {
    flex-shrink: 1;
  }
  .information .right {
    flex-shrink: 2;
  }
}

@media only screen and (max-width: 927px) {
  .container {
    margin: 0;
  }
  .right {
    font-size: 0.8rem;
  }
  header .container ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 0;
    flex-flow: row wrap;
  }
  .information {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 840px) {
  header .container ul {
    display: none;
  }
  header .container .logo {
    flex-direction: row;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    max-height: auto;
    gap: 20px;
  }
}

@media only screen and (max-width: 710px) {
  * {
    font-size: 0.9rem;
  }
  .enquiry {
    padding: 17px;
  }
  .aside div {
    margin: auto;
    padding: 0;
  }
  .read-more {
    left: 80%;
  }
}

@media only screen and (max-width: 474px) {
  .responsive {
    display: flex;
    text-align: center;
    margin: 10px;
  }
  .responsive-nav {
    display: none;
    flex-direction: column;
    text-align: center;
  }
}

@media only screen and (max-width: 434px) {
  .aside {
    flex-direction: column;
    justify-content: left;
    height: auto;
    gap: 1rem;
  }
  footer div {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.3;
  }
}
